body {
    height: 100vh;
}
.container {
    margin: 0;
}

.row{
    width: 90%;
    margin: 0 auto;
}

.text-goldenrod {
    color: goldenrod;
}

/* Navbar*/ 
.navbar {
    --bs-navbar-padding-y: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    background-color: rgb(40, 40, 40);
}

.navbar-brand h1 {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.nav-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: goldenrod;
    text-decoration: underline;
}


/* Home page */

.background-home {
    max-width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://res.cloudinary.com/dqj8alsys/image/upload/v1678377459/pexels-ann-h-12616961_xbzxjc.jpg) center center / cover no-repeat;
}

.about-field {
    background-color: aliceblue;
    border-radius: 8px;
}


/* review cards */


.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    top: 5%;
    min-width: 30%;
    background-color: rgba(218, 165, 32, 0.819);
}





/* Directory page*/
.background-directory {
    max-width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://res.cloudinary.com/dqj8alsys/image/upload/v1678368411/pexels-nathan-engel-436413_y5ivww.jpg) center center / cover no-repeat;
}


/* Footer*/

.footer{
    height: 60px;
}