body {
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.container {
    margin: 0;
}

.row{
    width: 90%;
    margin: 0 auto;
}

.text-goldenrod {
    color: goldenrod;
}

/* Navbar*/ 
.navbar {
    --bs-navbar-padding-y: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    background-color: rgb(40, 40, 40);
}

.nav-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.active-link {
    color: white;
}

.navbar-toggler {
    background-color: goldenrod;
}


/* Home page */

.background-home {
    max-width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://res.cloudinary.com/dqj8alsys/image/upload/v1678377459/pexels-ann-h-12616961_xbzxjc.jpg) center center / cover no-repeat;
}


.about-image {
    max-width: 50%;
    border-radius: 8px;
    height: 100%;
}

/* Carousel */

.carousel-item {
    background-color: rgba(238, 238, 238, 0.9);
    text-decoration: none;
    color:black
}

.carousel-controls {
    background-color: black;
}


/* review cards */


.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    top: 5%;
    min-width: 30%;
    background-color: rgba(218, 165, 32, 0.9);
    font-weight: bold;
}





/* Directory page*/
.background-directory {
    max-width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://res.cloudinary.com/dqj8alsys/image/upload/v1678368411/pexels-nathan-engel-436413_y5ivww.jpg) center center / cover no-repeat;
}


/* Footer*/

.footer{
    height: 60px;
    max-width: 1300px;
}