{% extends 'base.html'%}

{% block content%}

<div class="container-fluid mh-100 mb-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <!-- Review submission message -->
                    {% if reviewed %}
                        <div class="alert alert-success" role="alert">
                            <h2 class="text-center">Success!</h2>
                            <p>Your review has been succesfully submitted is awaiting approval</p>
                            <p>Click <a href="{% url 'home' %}">here</a> if you would like to return to the home page.</p>
                            <p>or Click <a href="{% url 'create_review' %}">here</a> to submit another review</p>
                        </div>
                    {% elif failure %}
                        <div class="alert alert-danger" role="alert">
                            <h2 class="text-center">Something went wrong!</h2>
                            <p>Your review was NOT submitted. This is most likely due to the form not being filled out
                                completely or that you have already created a review for that movie</p>
                        </div>
                        {% else %}
                        <!-- Review Form -->
                        {% if user.is_authenticated %}
                            <h3>
                                Post a movie review of your own
                            </h3>
                            <p>
                                Posting as: {{ user.username }}
                            </p>
                            <form method="POST" style="margin-top: 1.3em;" enctype="multipart/form-data">
                                {{ form.media|safe }}
                                {{ form.as_p }}
                                
                                {% csrf_token %}
                                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                            </form>
                        {% else %}
                            <div class="card-text">
                                <p>You are signed out. Please <a href="{% url 'account_login' %}">sign in</a> to post a movie review</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}